{
    "bip": "{{ docker.service.subnet.default-bridge }}",
    "default-address-pools": [
        {
            "base":"{{ docker.service.subnet.cidr }}",
            "size":"{{ docker.service.subnet.size }}"
        }
    ]
}
